<h1 class="heading">Weather module</h1>

<app-ui-loader [visible]="(weather$ | async)?.isFetching"></app-ui-loader>

<p>Load city data by clicking on it. </p>
<app-ui-city *ngFor="let city of cities" [image]="city.image" [name]="city.name" [longitude]="city.longitude" [latitude]="city.latitude" (select)="loadCity($event)"></app-ui-city>

<h3>Form</h3>

<form class="form" [formGroup]="form">
  <app-ui-input label="Longitude" placeholder="Enter longitude...." [control]="form.get('longitude')"></app-ui-input>
  <app-ui-input label="Latitude" placeholder="Enter latitude...." [control]="form.get('latitude')"></app-ui-input>

  <app-ui-button [disabled]="!form.valid"  text="Get Weather data" (click)="getWeather()"></app-ui-button>
</form>

<br/>

<app-ui-notes *ngIf="!(weather$ | async)" type="info" text="Click on Get Weather data button to fetch info."></app-ui-notes>

<app-ui-card *ngIf="(weather$ | async)?.data" [title]="(weather$ | async)?.data" description="Current Weather"></app-ui-card>
<app-ui-notes *ngIf="(weather$ | async)?.dataError" type="danger" text="Error while fetching wather data"></app-ui-notes>

<app-ui-air-quality *ngIf="(weather$ | async)?.airQuality" [number]="(weather$ | async)?.airQuality"></app-ui-air-quality>
<app-ui-notes *ngIf="(weather$ | async)?.airQualityError" type="danger" text="Error while fetching qir quality"></app-ui-notes>


<app-ui-forecast *ngIf="(weather$ | async)?.forecast" [forecast]="(weather$ | async)?.forecast?.query?.results?.channel?.item?.forecast"></app-ui-forecast>
<app-ui-notes *ngIf="(weather$ | async)?.forecastError" type="danger" text="Error while fetching foreacast data"></app-ui-notes>
