.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  border-radius: 5px; /* 5px rounded corners */
  margin-bottom: 16px;
}

.air {
  padding: 50px; color: white;
  text-align: center;
  background-color: grey;
  font-weight: bold;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.blue {
  background-color: #00f;
}

.green {
  background-color: #00e400;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #ff7e00;
}

.red {
  background-color: #ff0000;
}

.violet {
  background-color: #99004c;
}

.purple {
  background-color: #7e0023;
}
